.container {
  margin-top: -90px;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}
table {
  width: 100%;
}

.bg-red {
  color: red;
}
.bg-green {
  color: green;
}

mat-form-field {
  width: 100%;
}


@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}