<div class="container">
  <div class="card no-border shadow p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h2>Departamentos</h2>
      <hr>

      <form>
        <div class="mb-3">
          <label for="name" class="form-label">Nombre</label>
          <input  [(ngModel)]="nom_departamento" class="form-control" type="text" placeholder="Ingrese el nombre del departamento" name="name">
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Descripción</label>
          <input  [(ngModel)]="desc_departament" class="form-control" type="text" placeholder="Ingrese una descripción para el departamento" name="name">
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <button mat-raised-button color="primary" (click)="save()">
              <!-- {{ isEditable ? "Actualizar" : "Guardar" }} -->
              Guardar
            </button>
          </div>
        </div>
      </form>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nom_departamento | uppercase}} </td>
        </ng-container>

        <ng-container matColumnDef="desc">
          <th mat-header-cell *matHeaderCellDef> Descripción </th>
          <td mat-cell *matCellDef="let element"> {{element.des_departamento | titlecase}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Symbol </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>


    </div>
  </div>
</div>
